.recent-posts {
    &__title {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
        color: $primary-color;
    }

    &__list {
        display: flex;

        @media only screen and (max-width: 640px) {
            flex-direction: column;
        }

        .recent-post {
            &__title {
                color: $text-color;
                font-size: 1.1rem;
            }

            &__topics {
                color: $secondary-color;
                font-size: 0.8rem;
                margin-top: 0.5rem;
            }

            &__topic {
                &:not(last-child) {
                    margin-right: 1rem;
                }
            }

            &:not(last-child) {
                margin-right: 2rem;
            }

            @media only screen and (max-width: 640px) {
                margin-bottom: 1.5rem;

                &:not(last-child) {
                    margin-right: 0;
                }
            }
        }
    }
}
